services:
  - type: web
    name: qahwacup
    runtime: node
    buildCommand: npm ci --only=production && NODE_OPTIONS=--max-old-space-size=3072 npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_FROM
        sync: false
